.navGlobal {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
  width: 100%;
}
.logoclass {
  width: 18%;
}
.divMenu {
  display: flex;
  gap: 2;
  justify-content: end;
  align-items: center;
}
.menuLink {
  padding-right: 1.5rem;
  color: #02b1c8;
}
