.buscador {
    position: relative;
    width: 500px;
  }
  .customSearchInput {
    width: 100%;
    border: 1px solid #ccc;
    padding: 10px 100px 10px 20px; 
    line-height: 1;
    box-sizing: border-box;
    outline: none;
  }
  .customSearchButton {
    position: absolute;
    right: 3px; 
    top: 3px;
    bottom: 3px;
    border: 0;
    background: #548970;
    color: #fff;
    outline: none;
    margin: 0;
    padding: 0 10px;
    z-index: 2;
    cursor: pointer;
  }
  .centrado {
    display: flex;
    justify-content: center;
  }